<h2>Products available at <%= @supermarket.name %></h2>

<ul class="list-group">
  <% @supermarket.products.each do |product| %>
    <li class="list-group-item"><%= product.name %></li>
  <% end %>
</ul>
